<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Peralatan Olahraga</title>
  </head>
  <body>
    <a href="Landingpage.html">Landing Page</a>
    <a href="login.html">Login</a>
    <a href="HomePage.html">Home</a>
    <a href="cart.html">Cart</a>
    <a href="detail.html">Detail</a>
    <a href="profil.html">Profil</a>

    <script>
      window.location.href = "Landingpage.html";
    </script>
  </body>
</html>
